body {
  background-color: green;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: yellow;
  font-family: "Arvo", cursive;
  text-shadow: 5px 0 #DA0463;
}

footer {
  color: pink;
  font-family: Sans-Serif;
}

.a {
  background-image: url("images/tom1.png");
}

.s {
  background-image: url("images/tom2.png");
}

.d {
  background-image: url("images/tom3.png");
}

.f {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}


.beatz {
  margin: 13% auto;
}

.game-over {
  background-color: blue;
  opacity: 0.1;
}

.pressed {
  box-shadow: 0 4px 4px 0 #DBEDF3;
  opacity: 0.8;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: grey;
}
